/* General Styling */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --transition: width 100ms ease-in;
}

/* Main Content Styling */

.card {
    border:black 1px solid;
    padding: 10px;
    margin: 1em;
}

body {
    background-color: lightgray;
    font-size: 1rem;
}

#main {
    margin-left: 150px;
    transition: var(--transition);
}

/* Sidebar Styling */

ul {
    padding: 0;
}

li {
    margin: 10px 0;
    text-decoration: none;
    list-style-type: none;
}

li:first-child:hover {
    background: none;
}

li:first-child{
    float: right;
}

.poke-entry {
    padding: 20px 20%;
    background: transparent;

}

button {
    cursor: pointer;
    border: none;
    background: none;   
}

#pkmn-list {
    background: transparent;
    width: 150px;
    height: 100vh;
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: solid black 5px;
}


.bar-buttons {
    border: none;
    background: none;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 20%;
    background: transparent;
}

.bar-buttons:hover {
    text-shadow: 3px 3px 10px;
}

.close-btn {
    color: black;
}

