/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --transpeed: 200ms;
    --bg-color: lightgray;
}

.card {
    border:black 1px solid;
    padding: 10px;
    margin: 1em;
}

body {
    background-color: var(--bg-color);
    font-size: 1rem;
}

#main {
    margin-left: 180px;
    transition: var(--transpeed);
}

.close-btn {
    margin: 10px;
    color: black;
}


/* Sidebar Styling */

ul {
    padding: 0;
}

li {
    margin: 10px 0;
    text-decoration: none;
    list-style-type: none;
}


.poke-entry {
    padding: 10px 20%;
    background: transparent;

}

button {
    cursor: pointer;
    border: none;
    background: none;   
}

#pkmn-list {
    background: transparent;
    width: 180px;
    height: 100vh;
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: solid black 5px;
    transition: var(--transpeed);
}

#pkmn-list::-webkit-scrollbar {
    width: 0.50rem;
  }
  
#pkmn-list::-webkit-scrollbar-track {
    background: transparent;
  }
  
#pkmn-list::-webkit-scrollbar-thumb {
    background: black;
  }


.bar-buttons {
    border: none;
    background: none;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 20%;
    background: transparent;
    text-transform: uppercase;
}

.bar-buttons:hover {
    text-shadow: 3px 3px 10px;
}

/* Modal Styling */

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto; 
    display: grid;
    text-align: center;
}

.modal {
    margin: 0 auto;
    box-sizing: border-box;
    background: var(--bg-color);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  

  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 0;
  }
  
  #modal-container {
    display: none;
  }
  
  #modal-container.visible {
    display: block;
  }

  .pkmn-name {
    grid-column: 1 / 4;
  }
  
  .pkmn-name::first-letter {
    text-transform: capitalize;
  }
  
  .pkmn-art {
    width: 75%;
    height: auto;
  }
  