/* General Styling */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --transpeed: 200ms;
    --bg-color: lightgray;
}


body {
    background-color: var(--bg-color);
    font-size: 1rem;
}

#main {
    margin-left: 280px;
    transition: var(--transpeed);
    padding: 2em;
}

.close-btn {
    color: black;
}

/* Sidebar Styling */

ul {
    padding-left: 5px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.poke-entry {
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
}


.list-sprite {
  width:30%;
}


button {
    cursor: pointer;
    border: none;
    background: none;   
}

#pkmn-list {
    background: rgb(185, 184, 184);
    width: 250px;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: var(--transpeed);
    position: fixed;
}

#pkmn-list::-webkit-scrollbar {
    width: 6px;
  }
  
#pkmn-list::-webkit-scrollbar-track {
    background: transparent;
  }
  
#pkmn-list::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }


.bar-buttons {
    border: none;
    background: none;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 20%;
    background: transparent;
    text-transform: uppercase;
}

.bar-buttons:hover {
    text-shadow: 3px 3px 10px;
}

/* Pokemon Entry Styling */

#card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .pkmn-name { grid-area: 1 / 1 / 2 / 4; }
  .pkmn-num { grid-area: 1 / 4 / 2 / 5; }
  .pkmn-art { grid-area: 2 / 2 / 4 / 4; }
  .div5 { grid-area: 2 / 4 / 3 / 5; }
  .div6 { grid-area: 3 / 4 / 4 / 5; }
  .div4 { grid-area: 4 / 1 / 5 / 5; }

.pkmn-name {
  font-size: 5rem;
  justify-self: center ;
}
.pkmn-name::first-letter {
  text-transform: uppercase;
}

.pkmn-num {
  font-size:3rem;
}